<!DOCTYPE html>
<html>
<head>
    <title>2001 Game</title>
</head>
<body>
    <h1>2001 Game</h1>
    <p>{{ user_result }}</p>
    <p>{{ comp_result }}</p>
    <p>{{ result }}</p>
    <input type="submit" name="D3" value="D3">
    <input type="submit" name="D4" value="D4">
    <input type="submit" name="D6" value="D6">
    <input type="submit" name="D8" value="D8">
    <input type="submit" name="D10" value="D10">
    <input type="submit" name="D12" value="D12">
    <input type="submit" name="D20" value="D20">
    <input type="submit" name="D100" value="D100">
    <input type="hidden" name="user_points" value="{user_points}">
    <input type="hidden" name="comp_points" value="{comp_points}">
</body>
</html>
